section{
  margin: auto;
  padding: 70px;
  width: 70%;
  text-align: center;
  background-color: rgb(191, 224, 235);
}
.main{
  margin: auto;
  padding: 20px;
  width: 30%;
  text-align: center;
  background-color:white;
  border-radius: 15px;
}
.img{
  width: 100%;
  border-radius: 10px;
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }